<h1>Ãrea de login</h1>
<form>
    email: <input type="text" name="email"/><br />
    senha: <input type="password" name="senha"/><br />
    <button type="submit">Entrar</button>
</form>
<%= flash_message %>
<br/><br/>
cozinheiro: "joao@rest.com", "123"<br/>
atendente: "mario@rest.com", "123"<br/>
gerente: "pedro@rest.com", "123"
